<div class="user_find_container">
    <div class="user_img_div">
      <img class="user_img" src="<%= @user.photo %>">
    </div>
    <div class="user_internal">
      <h1><%= @user.name %></h1>
      <p class="post_count">Number of Posts: <%= @user.posts_counter %></p>
    </div>
</div>
<div class="user_bio">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>
<div class="each_post_container">
<ul>
  <% @user.three_most_recent_posts.each do |post| %>
    <li>
      <div class="each_post_inner">
        <div class="each_post">
          <a class="each_post_detail" href="<%= user_post_path(@user, post) %>"><h3>Post: <%= post.title %></h3></a>
          <p><%= post.text %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
</div>

<%= link_to "See All Posts", user_posts_path(@user), class: "show_posts_button" %>
